extends layout
block content
	.container(style="margin-top: 70px; width: 700px;")
		- if (messages.successMessage)
			.alert.alert-success(role='alert')
				span= messages.successMessage 
		- if (messages.errorMessage)
			.alert.alert-danger(role='alert')
				strong Oh snap! 
					span= messages.errorMessage
		- if (messages.deleteMessage)
			.alert.alert-warning(role='alert')
				strong Oh no! 
					span= messages.deleteMessage


		.w3-card-4-9.deptForm(id="deptForm" style="margin: 0px auto;")
			h6 Department
			form.jumbotron(action="/admin/dept", method="POST")
				.closeForm
					span.badge.badge-default.badge-pill
						i.fa.fa-times(aria-hidden='true' onclick="closeDeptForm()" id="true")
								
				.form-input.form-group
					input.form-control(name='name', required='', type='text', placeholder='Department Name')
					input.form-control(name='code', type='text', placeholder='Department Code')
				.save-btn
					button.btn.btn-primary(type='submit') Save

		div.jumbotron
			table.table.table-striped
				thead.thead-default
					tr
						th
							h2 Store Departments
						//- th Store Code
						//- th 
						th(colSpan="1")
						th
							span.badge.badge-default.badge-pill
								i.fa.fa-plus(aria-hidden='true' onclick="openDeptForm()" id="true")
								
							
						
				tbody
					
					each dept in output.dept
						tr
							th= dept.name
							//- td= dept.code
							//- td
							//- 	span.badge.badge-default.badge-pill
							//- 		a(href="/admin/product/new/"+dept.id, id="product", data-id=dept.id) Add Product
									//- i.fa.fa-plus(aria-hidden='true')
							td
								span.badge.badge-default.badge-pill
									a(href="/admin/category/"+dept.id id="show-cat") Select
							//- td
							//- 	span.badge.badge-default.badge-pill() Edit
							
							td
								span.badge.badge-default.badge-pill
									a(href="" onclick="deleteDepartment(this)" data-id=dept.id)
										i.fa.fa-times(aria-hidden='true')
