extends layout
block content
	.w3-container.product-list.jumbotron(style="position: relative; top: 50px;")
		.w3-card-4-7.container
			table.table.table-striped
				thead.thead-default
					tr
						th Publish
						th code
						th Image
						th Product Name
						th Stock
						//- th Dept
						th Category
						th Price
						th Origin
						th(colspan='2')
				tbody
					each product in products
						tr
							th 
								= product.publish
							td 
								= product.code
							td
								- if(product.imageUrl !== undefined)
									img(src=product.imageUrl width="50")
									//- imageUp-wrapper.form-group(onclick="getId(this.id)" id=product.id)
									//- 	img(src=product.imageUrl width="50")
									//- 	input.form-control-file#loadimage(type="file", accept="image/*")
							td
								= product.name
							td
								= product.stock
							//- th
							//- 	= product.department
							td
								= product.category
							
							td
								span £ 
								span= product.price
								
							td
								= product.description.origin
							td
								a(onclick="getId(this.id)", id=product.id, href="/admin/product/"+product.id) View
							//- td
							//- 	a.editproduct(href="/admin/product/edit/"+product.id) Edit
							td
								a(href="" onclick="deleteProduct(this)" data-id=product.id)
									i.fa.fa-times(aria-hidden='true')
							
							
	- if(products.length > 1)						
		nav(aria-label='Page navigation example')
			ul.pagination.justify-content-center
				li.page-item
					a.page-link(href='#', aria-label='Previous')
						span(aria-hidden='true') «
						span.sr-only Previous
				li.page-item
					a.page-link(href='#') 1
				li.page-item
					a.page-link(href='#') 2
				li.page-item
					a.page-link(href='#') 3
				li.page-item
					a.page-link(href='#', aria-label='Next')
						span(aria-hidden='true') »
						span.sr-only Next
	br
	button.btn.btn-primary(onclick='backward()')  Back