extends layout
block content
    .container(style="margin-top: 70px;")
        .w3-card-6(style="width: 600px; margin:0 auto")
            form.jumbotron(class="deptForm", action="/admin/subcat/add", method="POST")
                .form-input.form-group
                    input.form-control(name ='name', required='', type='text', placeholder='Category')
                    input.form-control(value=category.department_id hidden="" name ='department_id', required='', type='text', placeholder='dept_id')
                    input.form-control(value=category.id hidden="" name ='category_id', required='', type='text', placeholder='category_id')
                .save-btn
                    button.btn.btn-primary(type='submit')  Save
            div.jumbotron
                table.table.table-striped
                    thead.thead-default
                        tr
                            th
                                h4 Categories => #{category.name}
                            //- th Store Code
                            //- th 
                            th(colSpan="1")
                            th
                                span.badge.badge-default.badge-pill
                                    i.fa.fa-plus(aria-hidden='true' onclick="openForm()" id="true")

                    tbody
                        each catdata in catData
                            tr
                                td
                                    p #{catdata.name}
                                
                                td
                                    span.badge.badge-default.badge-pill(class="add-product-btn")
                                        a(href="/admin/product/new/"+catdata.id, id="product", data-id=catdata.id) Add Product
                                            //- i.fa.fa-plus(aria-hidden='true')

                                td
                                    span.badge.badge-default.badge-pill
                                        a(href="" onclick="deleteSubCategory(this)", data-id=catdata.id)
                                            i.fa.fa-times(aria-hidden='true')
            button.btn.btn-primary(onclick='backward()')  Back