extends layout
block content
	.container(style="width:700px; margin-top:70px; ")
	
		form.jumbotron(action="/admin/products/submit", method="POST")
			//- .form-group.row
			//- 	label.col-sm-3.col-form-label(for='storeDepartment') Store Dept
			//- 	.col-sm-9
					//- h5 #{department.name}
			input#categoryId.form-control(name="category_id", value=category.category_id, hidden="", type='text')
			input#departmentId.form-control(name="department_id", value=category.department_id, hidden="", type='text')
			input#subcategoryId.form-control(name="subcategory_id", value=category.id, hidden="" type='text')
			.form-group.row
				label.col-sm-3.col-form-label(for='prodName') Name
				.col-sm-9
					input#prodName.form-control(name="name", type='text' placeholder='name')
			.form-group.row
				label.col-sm-3.col-form-label(for='prodCode') Product Code
				.col-sm-9
					input#prodCode.form-control(name="code", type='text', placeholder='product code')
			.form-group.row
				label.col-sm-3.col-form-label(for='prodPrice') Now Price
				.col-sm-9
					input#prodPrice.form-control(name="price", type='text', placeholder='now price')

			.form-group.row
				label.col-sm-3.col-form-label(for='oldPrice') Old Price
				.col-sm-9
					input#oldPrice.form-control(name="old_price", type='text', placeholder='optional old price')

			input#prodimageUrl.form-control(hidden="", name="imageUrl", type='text', value="www.imageurl.com", placeholder='image link')
			.form-group.row
				label.col-sm-3.col-form-label(for='prodCategory') Category
				.col-sm-9
					span #{category.name}
					input#prodCategory.form-control(name="category", hidden="" value=category.name type='text', placeholder='Category')
					//- select.form-control(name="category[]", multiple='')
					//- 	each cat in category
					//- 		option(value=cat.name) #{cat.name}
			
			.form-group.row
				label.col-sm-3.col-form-label(for='prodStock') Stock Qty
				.col-sm-9
					input#prodStock.form-control(name="stock", type='number', placeholder='stock')
			

			.form-group.row
				label.col-sm-3.col-form-label(for='brand') Brand Name
				.col-sm-9
					input#brand.form-control(name="brand", type='text', placeholder='brand')

			.form-group.row
				label.col-sm-3.col-form-label(for='offer') Offer
				.col-sm-9
					select.form-control(name="offer")
						option(value="no") no
						option(value="yes") yes
					//- input#offer.form-control(name="offer", type='text', placeholder='offer')
			.form-group.row
				label.col-sm-3.col-form-label(for='sponsored') Sponsored
				.col-sm-9
					select#sponsored.form-control(name="sponsored")
						option(value="no") no
						option(value="yes") yes

			.form-group.row
				label.col-sm-3.col-form-label(for='recommend') Recommend
				.col-sm-9
					select#recommend.form-control(name="recommend")
						option(value="no") no
						option(value="yes") yes

			.form-group
				h6(style="color:slategray") Descriptions
				.form-group.row
					label.col-sm-2.col-form-label(for='prodDetails') Details
					.col-sm-10
						textarea#prodDetails.form-control(name="detail", type='text', rows="4", placeholder='details')
				
				.form-group.row
					label.col-sm-2.col-form-label(for='prodSize') Size
					.col-sm-10
						input#prodSize.form-control(name="size", type='text', placeholder='size')

				.form-group.row
					label.col-sm-2.col-form-label(for='prodOrigin') Origin
					.col-sm-10
						input#prodOrigin.form-control(name="origin", type='text', placeholder='origin')

			.form-group
				h6(style="color:slategray") Nutrition
			.form-group.row
				.nutrient-group.col-sm-6
					.row
						label.col-sm-2.col-form-label(for='prodEnergy') Energy
						.col-sm-10
							input#prodEnergy.form-control(name="energy", type='text', placeholder='energy info')
				
				.nutrient-group.col-sm-6
					.row
						label.col-sm-2.col-form-label(for='prodFat') Fat
						.col-sm-10
							input#prodFat.form-control(name="fat", type='text', placeholder='fat info')

				.nutrient-group.col-sm-6
					.row
						label.col-sm-2.col-form-label(for='prodSaturates') Saturates
						.col-sm-10
							input#prodSaturates.form-control(name="saturates", type='text', placeholder='saturates info')

				.nutrient-group.col-sm-6
					.row
						label.col-sm-2.col-form-label(for='prodSalt') Salt
						.col-sm-10
							input#prodSalt.form-control(name="salt", type='text', placeholder='salt info')

			fieldset.form-group.row
				legend.col-form-legend.col-sm-2 Publishing
				.col-sm-10
					.form-check
						label.form-check-label
							input#publish1.form-check-input(name="publish", value="true", type='radio')
							|             Selecting this option will publish the product
					.form-check
						label.form-check-label
							input#publish2.form-check-input(name="publish", value="false", type='radio', checked='')
							|             Chose this option if you are not ready to display the product
					
			.form-group.row
				.offset-sm-8.col-sm-4
					button.btn.btn-primary(type='submit') Save product
					a(href="/admin/store", style="opacity:0.5;") Cancel

